@import './../../../constants/colors.scss';

.wrapper {
  background-color: $gray;
  border-radius: 17px;
  padding: 22px 18px;
  margin: 12px 0;
  box-shadow: $shadow;
}

.title {
  text-decoration: none;
  color: $white;
  font-size: 26px;
  font-weight: 700;
  transition: all 0.3s ease;
  word-break: break-all;

  &:hover {
    color: $pivot;
  }
}

.content {
  font-size: 18px;
  margin: 16px 0;
}

.commentsCount {
  color: $gray-light;
  font-weight: 400;
}

.link {
  text-decoration: none;
  background-color: $pivot;
  color: $white;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 18px;
  transition: all 0.3s ease;

  &:hover {
    background-color: darken($pivot, 10%);
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
}