@import './../../constants/colors.scss';

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 64px 0;
}

.container {
  background-color: $gray;
  border-radius: 17px;
  padding: 22px 18px;
  margin: 12px 0;
  box-shadow: $shadow;
}

.title {
  margin-bottom: 16px;
  text-align: center;
  word-break: break-all;
}

.content {
  font-size: 18px;
  margin-bottom: 16px;
  word-break: break-all;
}

.comments {
  border-radius: 17px;
  padding: 22px 18px;
  margin: 12px 0;
  border: 2px dashed $gray-light;
}

.commentsForm {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.commentsInput {
  width: 100%;
}